body {
    background-color: rgba(163, 215, 73, 1);
    margin: 0px;
}


.status {
    font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.status-header {
    background-color: rgba(163, 215, 73, 1);
    font-weight: 900;
    text-shadow: 0px 11px 15px #5f9d1b;
    color: white;
    font-size: 25px;
    padding: 20px;
    margin-bottom: 2px;
    text-align: center;
}

button {
    box-shadow: 0px 11px 15px #5f9d1b;
    border: 1px solid #b3b3b3;
    margin: 10px;
    background-color: #b3b3b3;
    color: white;
    font-weight: 900;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

.add-item {
    padding: 5px;
}

/* The slow way */
.hover-button {
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out, padding 0.3s ease-in-out;
}

/* Transition to a bigger shadow on hover */
.hover-button:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    padding-left: 15px;
    padding-right: 15px;
}

.main-link .hover-button {
    text-align: left;
}

input {
    margin-bottom: 10px;
    color: #94abaf;
    border-radius: 3px;
    border: 2px solid white;
}

.tag {
    transition: background-color .3s ease-in-out;
    width: 45%;
    float: left;
    margin-bottom: 10px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    background-color: #fff;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.59);
}

.tag:hover {
    background-color: #afcbff;
}

#tag-table {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.text-scroller {
    transition: height .3s ease-in-out, padding .3s ease-in-out;
    height: 0px;
    background-color: white;
    margin: auto;
    text-align: center;
}

.status-check {
    background-color: rgba(163, 215, 73, 1);
    /* box-shadow: 2px 2px 4px 0px #5f9d1b; */
    padding: 10px;
    font-weight: 700;
    color: white;
}

table.centered {
    margin-left: auto;
    margin-right: auto;
}

.main {
    margin: auto;
    text-align: center;
    padding: 20px;
    background-color: #829eb9;
    padding: 30px;
    border: 3px solid #94abaf;
}

.good-dot {
    height: 10px;
    width: 10px;
    margin-left: 15px;
    background-color: #57ff74;
    border-radius: 50%;
    display: inline-block;
}

.bad-dot {
    height: 10px;
    width: 10px;
    margin-left: 15px;
    background-color: #ff4f4a;
    border-radius: 50%;
    display: inline-block;
}

.link {
    -webkit-appearance: none;
    border: none;
    padding: 10px;
    font-size: 20px;
    text-align: left;
}

.subtext {
    font-size: 12px;
}

td {
    text-align: right;
}